.insta {
    width: 48px;
    margin-left: 645px;
    position: absolute;
    top: 337px
}

.face {
    width: 48px;
    position: absolute;
    top: 337px;
    margin-left: 965px;
}

.git {
    width: 48px;
    position: absolute;
    top: 452px;
    margin-left: 965px;
}

.whats {
    width: 48px;
    position: absolute;
    margin-left: 645px;
    top: 452px;
}